<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head th:replace="admin/_fragment2::head(~{::title})">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tags | Post</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"
    />
    <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css">
    <link rel="stylesheet" href="../../static/css/me.css" />
  </head>

  <body>
    <!-- Navigation-->
    <nav th:replace="admin/_fragment2::menu(3)" class="ui inverted attached segment m-padded-tb m-shadow-small">
      <div class="ui container">
        <div class="ui inverted stackable secondary menu">
          <h2 class="ui teal header item"> Blog Admin </h2>
          <a href="#" class="active m-item item m-mobile-hide"><i class="home icon"></i> Blogs</a>
          <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i> Categories</a>
          <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i> Tags</a>
          <div class ="right m-item item m-mobile-hide">
            <div class="right menu">
              <div class="ui dropdown m-item item m-mobile-hide">
                <div class="text">
                  <img src="../../static/images/avatar_visitor.png" class="ui avatar image">
                  puremoonw
                </div>
                <i class="dropdown icon"></i>
                <div class="menu">
                  <a href="" class="item">Log out</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a href="#" class="ui menu-toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
      </a>
    </nav>

    <div class="ui attached pointing menu">
      <div class="ui container">
        <div class="right menu">
          <a href="#" th:href="@{/admin/tags/input}" class="teal active item">Post</a>
          <a href="#" th:href="@{/admin/tags}" class="item">Management</a>
        </div>
      </div>  
    </div>

    <br>
    <br>

    <!-- Content -->
    <div class="m-container-small m-padded-tb-big">
      <div class="ui container">
        <form action="#" method="post" th:object="${tag}"  th:action="*{id}==null ? @{/admin/tags} : @{/admin/tags/{id}(id=*{id})}"  class="ui form">
          <div class="required field">
            <div class="ui left labeled input">
              <label class="ui teal basic label">Tag</label>
              <input tag="text" maxlength="50" name="name" placeholder="Tag Name" th:value="*{name}">
            </div>
          </div>

          <div class="ui error message"></div>
          <div class="ui negative message" th:unless="${#strings.isEmpty(message)}">
            <i class="close icon"></i>
            <div class="header">Sorry,</div>
            <p th:text="${message}"></p>
          </div>

          <div class="ui right aligned container">
            <button class="ui button" onclick="window.history.go(-1)">Back</button>
            <button class="ui teal submit button">Submit</button>
          </div>
        </form>
      </div>
    </div>
    <br>
    <br>
    <!--Footer-->
    <footer th:replace="admin/_fragment2::footer" class= "ui inverted vertical segment m-padded-tb-massive">
        <div class ="ui center aligned container">
            <div class ="ui inverted divided stackable grid">

                <div class="three wide column">
                  <div class="ui inverted link list">
                    <div class="item">
                      <img src="../../static/images/wechat.JPG" alt="" class="ui rounded image" style ="width: 10em"></img>
                    </div>
                  </div>
                </div>

                <div class="three wide column">
                  <h4 class="ui inverted header m-text-thin m-text-spaced">Recent</h4>
                  <div class="ui inverted link list">
                    <a href="#" class="item">test</a>
                    <a href="#" class="item">test</a>
                    <a href="#" class="item">test</a>
                  </div>
                </div>
                <div class="three wide column">
                  <h4 class="ui inverted header m-text-thin m-text-spaced">Contact</h4>
                  <div class="ui inverted link list">
                    <a href="#" class="item">Email: yc.eleanor.wang@outlook.com</a>
                    <a href="#" class="item"></a>
                    <a href="#" class="item"></a>
                  </div>
                </div>
                <div class="seven wide column">
                  <h4 class="ui inverted header m-text-thin m-text-spaced">Yuechun Wang</h4>
                  <p class="m-text-thin m-text-spaced m-opacity-min">This is my personal blog</p>
                </div>

          </div>
        
          <div class="ui inverted section divider"></div>
          <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright &copy; 2019-2020 Yuechun Designed by Yuechun</p>
      </div>
    <br>
    <br>
    </footer>
    <!--/*/<th:block th:replace="admin/_fragment2::script">/*/-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <!--/*/</th:block>/*/-->
    <script>
      $('.menu-toggle').click(function(){
        $('.m-item').toggleClass('m-mobile-show');
        $("p").toggleClass("main");
      });
      
      $('.ui.dropdown').dropdown({
        on: 'hover'
      });
      $('.ui.form').form({
        fields:{
          title:{
            identifier: 'name',
            rules:[{
              type: 'empty',
              prompt: 'Please enter the tag name!'
            }]
          }
        }
      });
      $('.message .close')
              .on('click', function() {
                $(this)
                        .closest('.message')
                        .transition('fade')
                ;
              })
      ;

    </script>
  </body>
</html>
