<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head th:replace="_fragment::head(~{::title})">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Categories</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"
    />
    <link rel="stylesheet" href="../static/css/me.css" />
  </head>

  <body>
    <!-- Navigation-->
    <nav th:replace="_fragment::menu(2)" class="ui inverted attached segment m-padded-tb m-shadow-small">
      <div class="ui container">
        <div class="ui inverted stackable secondary menu">
          <h2 class="ui teal header item"> Y.W's Blog </h2>
          <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i> Home</a>
          <a href="#" class="active m-item item m-mobile-hide"><i class="idea icon"></i> Categories</a>
          <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i> Tags</a>
          <a href="#" class="m-item item m-mobile-hide"><i class="archive icon"></i> Archive</a>
          <a href="#" class="m-item item m-mobile-hide"><i class="info icon"></i> About Me</a>
          <div class ="right m-item item m-mobile-hide">
            <div class ="ui inverted transparent input">
                <input type ="text" placeholder="Search..."></input>
                <i class="search link icon"></i>
            </div>    
          </div>
          <div class ="right m-item item m-mobile-hide">
            <div class="right menu">
              <div class="ui dropdown m-item item m-mobile-hide">
                <div class="text">
                  <img src="../static/images/avatar_visitor.png" class="ui avatar image">
                  Sign In
                </div>
                <i class="dropdown icon"></i>
                <div class="menu">
                  <a href="#" class="item">Admin Log In</a>
                  <a href="#" class="item">Visitor Log In</a>
                  <a href="#" class="item">Sign Up</a>
                  <a href="#" class="item">Sign Out</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a href="#" class="ui menu-toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
      </a>

    </nav>

    <!-- Content -->
    <div class="m-container-small m-padded-tb-big">
      <div class="ui container">
        <!-- header -->
        <div class="ui top attached segment">
          <div class="ui middle aligned two column grid">
            <div class="column">
              <h3 class="ui teal header"> Categories</h3>
            </div>
            <div class="right aligned column">
               <h2 class="ui orange header m-inline-block m-text-thin" th:text="${#arrays.length(types)}"> 6</h2> Total
            </div>
          </div>
        </div>

        <div class="ui attached segment m-padded-tb-large">
          <div class="ui labeled button m-margin-tb-tiny" th:each="type:${types}">
            <a  href="#" th:href="@{/types/{id}(id=${type.id})}" class="ui basic button" th:classappend="${type.id==activeTypeId} ? 'teal'" th:text="${type.name}">Algorithms</a>
            <div class= "ui basic left pointing label" th:classappend="${type.id==activeTypeId} ? 'teal'" th:text="${type.publishedBlogsN}"> 2 </div>
          </div>
          <br>
        </div>
        <div th:unless="${#arrays.length(types)} == 0">
          <!-- content -->
          <div class="ui top attached teal segment">

            <div class="ui padded vertical segment m-padded-tb-large" th:each="blog : ${page.content}">
              <div class="ui mobile reversed stackable grid">
                <div class="eleven wide column">
                  <h3 class="ui header"><a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class=" m-black" th:text="${blog.title}">Why does Java prohibit generic array creation?</a></h3>
                  <p class="m-text" th:text="|${blog.description}......|">Java Generic methods and generic classes enable programmers to specify, with a single method declaration</p>
                  <div class="ui stackable grid">
                    <div class="eleven wide column">
                      <div class="ui mini horizontal link list">
                        <div class="item">
                          <img src="../static/images/avatar.png" th:src="@{${blog.user.avatar}}" class="ui avatar image">
                          <div class="content"><a href="#" class="header" th:text="${blog.user.nickname}">Yuechun</a></div>
                        </div>
                        <div class="item">
                          <i class="calendar icon"></i><span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2020-03-20</span>
                        </div>
                        <div class="item">
                          <i class="eye icon"></i><span th:text="|  ${blog.views}|">123</span>
                        </div>
                      </div>
                    </div>
                    <div class="right aligned five wide column">
                      <a href="#" class="ui teal basic label m-padded-tiny m-text-thin" th:text="${blog.type.name}">Java</a>
                    </div>
                  </div>
                </div>
                <div class="five wide column">
                  <a href="#"  th:href="@{/blog/{id}(id=${blog.id})}" target ="_blank">
                    <img src="../static/images/generic.jpg" th:src="@{${blog.coverPhoto}}" class="ui rounded image">
                  </a>
                </div>
              </div>
            </div>
          </div>

          <!-- footer -->
          <div class="ui bottom attached segment">
            <div class="ui middle aligned two column grid">
              <div class="column"></div>
              <div class="right aligned column">
                <div class="ui mini pagination menu">
                  <a th:href="@{/types/{id}(id=${activeTypeId}, page=${page.number}-1)}" class="item m-padded-tb-tiny" th:classappend="${page.first} ? 'disabled'"><<</a>
                  <span class="item">
                      Page&nbsp;&nbsp;&nbsp;&nbsp;
                      <span class="detail" th:text="${{page.totalPages==0} ? 0 : page.number+1}"></span>&nbsp;&nbsp;/&nbsp;&nbsp;<span th:text="${page.totalPages}"></span>
                    </span>
                  <a th:href="@{/types/{id}(id=${activeTypeId}, page=${page.number}+1)}" class="item m-padded-tb-tiny" th:classappend="${page.last} ? 'disabled'">>> </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Footer-->
    <footer th:replace="_fragment::footer" class= "ui inverted vertical segment m-padded-tb-massive">
        <div class ="ui center aligned container">
            <div class ="ui inverted divided stackable grid">

                <div class="three wide column">
                  <div class="ui inverted link list">
                    <div class="item">
                      <img src="../static/images/wechat.JPG" alt="" class="ui rounded image" style ="width: 10em"></img>
                    </div>
                  </div>
                </div>

                <div class="three wide column">
                  <h4 class="ui inverted header m-text-thin m-text-spaced">Recent</h4>
                  <div class="ui inverted link list">
                    <a href="#" class="item">test</a>
                    <a href="#" class="item">test</a>
                    <a href="#" class="item">test</a>
                  </div>
                </div>
                <div class="three wide column">
                  <h4 class="ui inverted header m-text-thin m-text-spaced">Contact</h4>
                  <div class="ui inverted link list">
                    <a href="#" class="item">Email: yc.eleanor.wang@outlook.com</a>
                    <a href="#" class="item"></a>
                    <a href="#" class="item"></a>
                  </div>
                </div>
                <div class="seven wide column">
                  <h4 class="ui inverted header m-text-thin m-text-spaced">Yuechun Wang</h4>
                  <p class="m-text-thin m-text-spaced m-opacity-min">This is my personal blog</p>
                </div>

          </div>
        
          <div class="ui inverted section divider"></div>
          <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright &copy; 2019-2020 Yuechun Designed by Yuechun</p>
      </div>
    <br>
    <br>
    </footer>
    <!--/*/<th:block th:replace="_fragment::script">/*/-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <!--/*/</th:block>/*/-->
    <script>
      $('.menu-toggle').click(function(){
        $('.m-item').toggleClass('m-mobile-show');
        $("p").toggleClass("main");
      });
      $('.ui.dropdown').dropdown({
        on: 'hover'
      });
    </script>
  </body>
</html>
